body {
  background: linear-gradient(#08f, #fff);
  padding: 40px;
  width: 170px;
  height: 100%;
  margin: 0 auto;

  .trafficlight {
    background: #222;
    background-image: linear-gradient(
      transparent 2%,
      #111 2%,
      transparent 3%,
      #111 30%
    );
    width: 170px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    border: solid 5px #333;

    &::before {
      background: #222;
      background-image: radial-gradient(#444, #000);
      content: "";
      width: 170px;
      height: 150px;
      margin: 0 auto;
      position: absolute;
      top: -20px;
      margin-left: 0px;
      border-radius: 50%;
      z-index: -1;
    }

    &::after {
      background: #222;
      background-image: linear-gradient(-90deg, #222 0%, #444 30%, #000);
      content: "";
      width: 50px;
      height: 500px;
      margin-left: 60px;
      position: absolute;
      top: 150px;
      z-index: -1;
    }

    .protector {
      background: transparent;
      width: 180px;
      height: 0;
      position: absolute;
      top: 20px;
      left: -35px;
      border-right: solid 30px transparent;
      border-left: solid 30px transparent;
      border-top: solid 90px #111;
      border-radius: 20px;
      z-index: -1;

      &:nth-child(2) {
        top: 140px;
      }

      &:nth-child(3) {
        top: 260px;
      }
    }

    .red {
    //   background:rgb(246, 6, 6);
      background-image: radial-gradient(rgb(78, 67, 67), transparent);
      background-size: 5px 5px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: dotted 2px brown;
      position: absolute;
      top: 20px;
      left: 35px;
    }

    .yellow {
    //   background: yellow;
      background-image: radial-gradient(rgb(84, 84, 68), transparent);
      background-size: 5px 5px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: dotted 2px yellow;
      position: absolute;
      top: 145px;
      left: 35px;
    }

    .green {
    //   background-color : rgb(5, 237, 5);
      background-image: radial-gradient(rgb(93, 99, 92), transparent);
      background-size: 5px 5px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: dotted 2px lime;
      position: absolute;
      top: 270px;
      left: 35px;
    }
  }
}